{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'techCalendar/style.css' %}" />

{% if events_list %}
<table>
    <tr>
        <td> Date </td>
        <td> Group </td>
        <td> Event </td>
    </tr>
    {% for event in events_list %}
    <tr>
         <td> {{ event.start_datetime}} </td>
         <td> {{ event.group }} </td>
         <td>  <a href="{{ event.link }}/">{{ event.title }}</a> </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No events are available.</p>
{% endif %}

